body {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #737373;
}

html, body {
    height: 100%;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif;
    font-weight: normal;
    color: #554842;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 1.6em;
}

p, ol {
    margin-top: 5px;
}

a {
    text-decoration: none;
    color: #E42E33;
}

a:hover {
    text-decoration: underline;
}

/* Header */


#menu-wrapper {
    overflow: hidden;
    height: 30px;
    background: #DA2F27;
}

#menu {
    width: 50%;
}

#menu ul {
    margin: 0;
    padding: 0px 0px 0px 0px;
    list-style: none;
    text-align: center;
}

#menu li {
    display: inline-block;
}

#menu a {
    display: block;
    float: left;
    height: auto;
    margin: 0px;
    padding: 0px 30px 0px 30px;
    line-height: 30px;
    letter-spacing: -1px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Arvo', serif;
    font-size: 12px;
    color: #FFFFFF;
    border: none;
}

#menu .current_page_item a {
    background: #9F1615;
    color: #FFFFFF;
}

#menu a:hover {
}

#wrapper {
    min-height: 95%;
    margin: 0 auto;
}

#header {
    background: #554842;
    width: 100%;
    margin: 0 auto;
}

#red_text {
    color: #E42E33;
}

/* Logo */

#logo {
    width: 100%;
    margin: 0px auto;
    padding: 0px 0px 0px 0px;
    color: #FFFFFF;
}

#logo h1, #logo p {
    display: block;
    margin: 0;
    padding: 0;
}

#logo h1 {
    margin: 0px;
    letter-spacing: -1px;
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: bold;
    color: #FFFFFF;
}

#logo h1 a {
    color: #FFFFFF;
}

#logo p {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Arvo', serif;
    font-size: 20px;
}

#logo a {
    border: none;
    background: none;
    text-decoration: none;
    color: #FFFFFF;
}

#page {
    width: 100%;
    padding: 0;
    background-color: #FFFFFF;
}

#page-bgbtm {

    margin: 0px;
    padding: 0px 40px 0px 40px;
}

/* Content */

#content {
    width: 100%;
    padding: 0px 0px 0px 0px;
}

.post {
    position: relative;
    padding: 30px 0px;
    border-bottom: 1px solid #D9D9D9;
}

.post .title {
    padding-top: 10px;
    letter-spacing: -2px;
}

.post .title a {
    border: none;
    color: #E42E33;
}

.post .meta {
    padding-bottom: 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: italic;
}

.post .meta a {
}

.post .entry {
    text-align: justify;
    margin-bottom: 25px;
    padding: 10px 0px 0px 0px;
}

.links {
    display: block;
    width: 96px;
    padding: 2px 0px 2px 0px;
    background: #A53602;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    color: #FFFFFF;
}

#left {
}

#right{
    position: absolute;
    right: 0px;
}

/* Footer */

#footer {
    background: #554842;
    width: 100%;
    height: 41px;
}

#footer p {
    padding-top: 10px;
    text-align: center;
    color: #FFFFFF;
}


/* Form */

ul .error {
    margin: 10px;
}

.form {
    font-family: sans-serif;
    box-sizing: border-box;
}

.required {
    top: 10px;
    width: 100%;
    height: 100%;
    position: relative;
}

.required label {
    display: none;
}

.placeholder {
    color: #444;
}

.placeholder {

    width: 30%;
    height: 40px;
    margin: 7px;
    font-size: 12px;
    color: #554842;
    border: 1px solid;

    padding-left: 20px;

    background-clip: padding-box;
    border-radius: 6px;

    box-shadow: inset 0px 2px 0px #d9d9d9;
}

textarea {
    width: 60%;
    height: 100px;
    margin: 7px;
    font-size: 12px;
    color: #554842;
    border: 1px solid;

    padding: 20px;

    background-clip: padding-box;
    border-radius: 6px;

    box-shadow: inset 0px 2px 0px #d9d9d9;
}

#submit {
    width: 30%;
    height: 40px;
    margin: 7px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 6px;

    background-color: #DA2F27;

    box-shadow: inset 0px 1px 0px #CE1024;

    cursor: pointer;
}


.pagination {
    text-align: center;
    display: inline-flex;
    margin-bottom: 25px;
    margin-top: 10px;
    padding-left: 15px;
}

.pagination  .active  a, .pagination  .active  span, .pagination  .active  a:hover, .pagination  .active  span:hover, .pagination  .active  a:focus, .pagination  .active  span:focus {
    background-color: #DA2F27;
    border-color: #DA2F27;
    color: #FFFFFF;
    cursor: default;
    z-index: 2;
}

.pagination  li  a, .pagination  li  span {
    background-color: #f0f0e9;
    border: 0;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    margin-right: 5px;
    color:#000;
}

.pagination  li  a:hover{
    background:#DA2F27;
    color:#fff;
}